<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    {% block html_head %}{% endblock %}
  </head>
  <body>
    <div class="container navbar">
      <div class="mw8 center">
        <div class="flex flex-row pa3 justify-between">
          <div class="flex flex-row">
            <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo"/>
            <div class="flex flex-column justify-center mh3">
              <h2 class="ttu">Procare</h2>
              <h3 class="ttu">Workplace Wellness</h3>
            </div>
          </div>
          <div class="flex flex-row items-center">
            <div class="h2 w2 br4 bg-gray mr3"></div>
            <h3>{% block name %}{% endblock %}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 bg-snow">
      <div class="container mw8 center pv4" id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>