{% extends "base.html" %}

{% block name %} {{data["admin-name"]}} {% endblock %}
{% block html_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/circle.css') }}"/>
<style>
a.button {
  background-color: red;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

a:hover {
  background-color: #555;
}
</style>
{% endblock %}

{% block content %}

  <div class="mt1 flex flex-row">
    <div class="dashboard mr2 flex flex-column">
      <div>
        <h1>Welcome, {{data["dep-name"]}} Manager {{data["admin-name"]}}</h1>
        <h3 class="mt2 mb2"> Updates: {{data["dep-name"]}} department's predicted depression is {{data["depression"]}}</h3>
        <h3 class="mt2 mb2"> Updates: {{data["dep-name"]}} department's predicted carpal tunnel is {{data["ct"]}}</h3>
        <h3 class="mt2 mb2"> Updates: {{data["dep-name"]}} department's predicted lombago is {{data["lombago"]}}</h3>
      </div>
      <h1 class="mt2 mb2">Overview</h1>
      <div class="flex flex-row mb1">
        <div class="tile bg-blue mr1 pa4 flex flex-column items-center">
          <div class="mb4">
            <h2 class="white">Productivity</h2>
            <h3 class="white mt2">Across department</h3>
          </div>
            <h1 class="white mt2">{{data["product-percentage"]}}</h1>
        </div>
        <div class="tile bg-gold ml1 mr1 pa4 flex flex-column items-center">
          <div class="mb4 items-center">
            <h2 class="white">Emotional Level</h2>
            <h3 class="white mt2">Across department</h3>
          </div>
          <h1 class="white mt2">{{data["emotion-percentage"]}}</h1>
        </div>
        <div class="tile bg-light-green ml1 pa4 flex flex-column items-center">
          <div class="mb4 items-center">
            <h2 class="white">Physical Wellness</h2>
            <h3 class="white mt2">Across department</h3>
          </div>
          <h1 class="white mt2">{{data["physical-percentage"]}}</h1>
        </div>
      </div>

      <div class="flex mt1 bg-white pa4 flex-column items-center">
        <h2 class="mb3">Productivity Over the Week</h2>
        {{ div_prod |safe }}
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-2.0.2.min.js"></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.0.2.min.js"></script>
        {{ script_prod |safe }}
      </div>
      <div class="flex mt1 bg-white pa4 flex-column items-center">
        <h2 class="mb3">Emotional Wellness Over the Week</h2>
        {{ div_em |safe }}
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-2.0.2.min.js"></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.0.2.min.js"></script>
        {{ script_em |safe }}
      </div>
      <div class="flex mt1 bg-white pa4 flex-column items-center">
        <h2 class="mb3">Physical Wellness Over the Week</h2>
        {{ div_ph |safe }}
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-2.0.2.min.js"></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.0.2.min.js"></script>
        {{ script_ph |safe }}
      </div>

      <div class="flex mt3 bg-white pa4 flex-column items-center">
        <h2 class="mb4">Recommended Action Plans</h2>
        <div class="flex flex-row mb1">
          <div class="tile bg-gray mr1 pa4 flex flex-column items-center">
            <div class="mb4">
              <h2 class="white">{{actions["action1-name"]}}</h2>
              <h3 class="white mt2">{{actions["action1-description"]}}</h3>
              <br>
              <br>
              <a href="{{actions['action1-link']}}" class="button">Take Action</a>
            </div>
          </div>
          <div class="tile bg-gray ml1 mr1 pa4 flex flex-column items-center">
            <div class="mb4">
              <h2 class="white">{{actions["action2-name"]}}</h2>
              <h3 class="white mt2">{{actions["action2-description"]}}</h3>
              <br>
              <br>
              <a href="{{actions['action2-link']}}" class="button">Take Action</a>
            </div>
          </div>
          <div class="tile bg-gray ml1 pa4 flex flex-column items-center">
            <div class="mb4">
              <h2 class="white">{{actions["action3-name"]}}</h2>
              <h3 class="white mt2">{{actions["action3-description"]}}</h3>
              <br>
              <br>
              <a href="{{actions['action3-link']}}" class="button">Take Action</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar ml2">
      <div class="flex bg-white pa4">
        <div class="flex flex-row mb1">
          <div class="tile pa1 flex flex-column items-center">
            <div class="mb1">
              <h3>Attendance</h3>
              <h2 class="mt2">{{data["attendance"]}}</h2>
            </div>
          </div>
          <div class="tile pa1 flex flex-column items-center">
            <div class="mb1">
              <h3>Late</h3>
              <h2 class="mt2">{{data["late"]}}</h2>
            </div>
          </div>
          <div class="tile pa1 flex flex-column items-center">
            <div class="mb1">
              <h3>Absent</h3>
              <h2 class="mt2">{{data["absent"]}}</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="flex bg-white pa4">
        <h2>On Holiday</h2>
      </div>
    </div>
  </div>

{% endblock %}
