{% extends "base.html" %}
{% block name %}{{data["name"]}}{% endblock %}

{% block html_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/circle.css') }}"/>

<link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.2.min.css" type="text/css" />
{% endblock %}

{% block content %}
  <div>
    <h1>Welcome back, {{data["name"]}}!<h1>
    <h3 class="mt2">Some blurb about your progress</h3>
  </div>
  <div class="mt4 flex flex-row">
    <div class="dashboard mr2 flex flex-column">
      <div class="flex flex-row mb1">
        <div class="tile bg-blue mr1 pa4 flex flex-column items-center">
          <div class="mb4">
            <h2 class="white">Get more water!</h2>
            <h3 class="white mt2">You've only consumed {{data["water_percentage"]}}% of your daily value.</h3>
          </div>
          <div class="c100 p{{data['water_percentage']}}">
            <span><h2>{{data["water_consumed"]}} ml</h2></span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>
        <div class="tile bg-white ml1 pa4 flex flex-column items-center">
          <div class="mb4">
            <h2>Focus Session</h2>
            <h3 class="mt2">You've been working for a while, take a break in 20 minutes!</h3>
          </div>
          <div class="c100 p{{data['focus_percentage']}}">
            <span><h2>{{data["time_focused"]}} min</h2></span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex mt1 bg-white pa4 flex-column items-center">
        <h2 class="mb3">Physical Activity Today</h2>
        {{ div |safe }}
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-2.0.2.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.0.2.min.js"></script>
        {{ script |safe }}
      </div>
    </div>
    <div class="messages ml2">
      <div class="flex flex-column bg-white">
        <div class="pa4">
          <h2>Messages</h2>
        </div>
        <div class="flex flex-column tree-container justify-between">
          <div class="pa4">
            <h3>You've earned 238 points<br/>this week!</h3>
          </div>
          <div class="flex flex-column justify-end items-end w-100 pr4 pb3">
            <img src="{{ url_for('static', filename='images/solo-tree.png') }}" height="300px" class="tree"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}