{% extends "base.html" %}

{% block name %} {{data["admin-name"]}} {% endblock %}
{% block html_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/circle.css') }}"/>
{% endblock %}

{% block content %}

  <div class="mt1 flex flex-row">
    <div class="dashboard mr2 flex flex-column">
      <div>
        <h1>Welcome, {{data["dep-name"]}} Manager {{data["admin-name"]}}</h1>
        <h3 class="mt2 mb2"> Updates: {{data["dep-name"]}} department's wellness has increased 5% </h3>
      </div>
      <h1 class="mt2 mb2">Overview</h1>
      <div class="flex flex-row mb1">
        <div class="tile bg-blue mr1 pa4 flex flex-column items-center">
          <div class="mb4">
            <h2 class="white">Productivity</h2>
            <h3 class="white mt2">Across Customer Success, Engineering, Product
            Management, and Sales departments</h3>
          </div>
            <h1 class="white mt2">{{data["product-percentage"]}}</h1>
        </div>
        <div class="tile bg-gold ml1 mr1 pa4 flex flex-column items-center">
          <div class="mb4">
            <h2 class="white">Emotional Level</h2>
            <h3 class="white mt2">Across Customer Success, Engineering, Product
            Management, and Sales departments</h3>
          </div>
          <h1 class="white mt2">{{data["emotion-percentage"]}}</h1>
        </div>
        <div class="tile bg-light-green ml1 pa4 flex flex-column items-center">
          <div class="mb4">
            <h2 class="white">Physical Wellness</h2>
            <h3 class="white mt2">Across Customer Success, Engineering, Product
            Management, and Sales departments</h3>
          </div>
          <h1 class="white mt2">{{data["physical-percentage"]}}</h1>
        </div>
      </div>
      <div class="flex mt3 bg-white pa4 flex-column items-center">
        <h2 class="mb4">Recommended Action Plan</h2>
        <div class="flex flex-row mb1">
          <div class="tile bg-gray mr1 pa4 flex flex-column items-center">
            <div class="mb4">
              <h2 class="white">Party Friday!</h2>
              <h3 class="white mt2">Have a social hour this Friday</h3>
            </div>
          </div>
          <div class="tile bg-gray ml1 mr1 pa4 flex flex-column items-center">
            <div class="mb4">
              <h2 class="white">Group Yoga Classes</h2>
              <h3 class="white mt2">Sign up for corporate wide yoga classes</h3>
            </div>
          </div>
          <div class="tile bg-gray ml1 pa4 flex flex-column items-center">
            <div class="mb4">
              <h2 class="white">Expert Visit</h2>
              <h3 class="white mt2">Find local health experts in your area</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar ml2">
      <div class="flex bg-white pa4">
        <div class="flex flex-row mb1">
          <div class="tile pa1 flex flex-column items-center">
            <div class="mb1">
              <h3>Attendance</h3>
              <h2 class="mt2">{{data["attendance"]}}</h2>
            </div>
          </div>
          <div class="tile pa1 flex flex-column items-center">
            <div class="mb1">
              <h3>Late</h3>
              <h2 class="mt2">{{data["late"]}}</h2>
            </div>
          </div>
          <div class="tile pa1 flex flex-column items-center">
            <div class="mb1">
              <h3>Absent</h3>
              <h2 class="mt2">{{data["absent"]}}</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="flex bg-white pa4">
        <h2>On Holiday</h2>
      </div>
    </div>
  </div>

{% endblock %}
